{% extends 'base.html.twig' %}

{% set colors = ['red', 'green'] %}

{% block body %}
    <h1> Hello many times {{ name|capitalize }}! </h1>
    {% for i in 1..times %}
        <p style="color:{{ cycle(colors, i) }}"> Hello {{ name|capitalize }}! ({{ i|format_number({min_integer_digit:2}) }}) </p>
    {% endfor %}
{% endblock %}

{% block title %}
    Hello many times!
{% endblock %}
